<head>
<title>{{ site.title }}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

<meta property="og:type"         content="website"/>
<meta property="og:url"          content="{{ site.github.url }}"/>
<meta property="og:title"        content="{{ site.title }}"/>
<meta property="og:description"  content="{{ site.data.metadata.tagline }}"/>
<meta property="og:image"        content="{{ site.github.url }}/assets/image/cover@2x.png"/>
<meta property="og:locale"       content="ja_JP"/>
<meta property="twitter:card"    content="summary_large_image"/>

</head>
