---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
	font-family: -apple-system, BlinkMacSystemFont;
}

h1 {
	font-size: 2.4em;
	font-weight: 550;
	margin-top: 0;
	margin-bottom: 0em;
}

h2 {
	font-size: 2em;
	font-weight: 550;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.6em;
	font-weight: 550;
	margin-top: 1.2em;
	margin-bottom: 0.3em;
}

hr {
	border: none;
	border-top: 1pt dashed #ccc;
	margin-top: 2em;
	margin-bottom: 2em;
}

.subtitle {
	margin-top: 0em;
	font-size: 1.6em;
	color: #999;
}

.callout {
	font-size: 0.9em;
	color: #5E6269;
	background: #EDF3F8;
	border: 1pt solid #CDD4DB;
	border-radius: 6pt;
	display: block;
	white-space: pre-wrap;
	padding: 1em;
	padding-left: 1.8em;
	padding-right: 1.8em;
}

.callout-title {
	font-weight: bold;
}

.note {
	font-weight: bold;
}

p {
	margin-top: 1.0em;
	margin-bottom: 1.7em;
}

.footer-col {
	color: #999;
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(30% - (#{$spacing-unit} / 2));
	width: calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(70% - (#{$spacing-unit} / 2));
	width: calc(70% - (#{$spacing-unit} / 2));
}
